*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --display-none: none;
  --display-flex: flex;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  background-color: rgb(16, 16, 36);
  /* background-image: url(../assets/images/sleep-cat.jpeg); */
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.box-quiz {
  background-color: #3b3f67;
  border: 3px solid #ffffff;
  border-radius: 10px;
  box-shadow: 1px 4px 7px 2px;
  height: 450px;
  width: 800px;
}

.question {
  color: #fff;
  font-size: 2.2em;
  padding: 20px 0px;
  text-align: center;
}

.box-options {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: center;
}

.hide {
  display: none;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.row-options {
  display: flex;
}

.option-box {
  cursor: pointer;
  align-items: center;
  background-color: rgb(219, 219, 255);
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  font-size: 1.8em;
  height: 100px;
  justify-content: center;
  margin: 10px;
  width: 300px;
}

.box-results {
  width: 800px;
  background-color: #697592;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}